Import necessary libraries

In [1]:
import pandas as pd
import numpy as np

Reading the dataset

In [2]:
df = pd.read_csv('preprocessed_data.csv')

Printing head of the dataset

In [3]:
df.head()

,Unnamed: 0,NAME,HUMIDITY,NO2_MAX,NO2_MIN,OZONE_MAX,OZONE_MIN,PM10_MAX,PM10_MIN,PM2_MAX,...,CO_MAX,CO_MIN,CO2_MAX,CO2_MIN,TEMPRATURE_MAX,TEMPRATURE_MIN,UV_MAX,UV_MIN,AIR_PRESSURE,LASTUPDATEDATETIME
0,1,BopadiSquare_65,19.995,59,54,15,0,22,19,18,...,154,115,448,401,41,24,5.3,0.2,0.933,13-05-2019 12:16
1,2,Karve Statue Square_5,20.730,82,77,18,0,23,19,19,...,124,69,441,374,39,25,0.8,0.1,0.930,13-05-2019 12:16
2,3,Lullanagar_Square_14,17.387,74,63,25,0,25,21,20,...,103,55,33,0,40,24,0.5,0.2,0.926,13-05-2019 12:16
3,4,Hadapsar_Gadital_01,18.725,110,105,5,0,26,21,21,...,128,95,482,427,38,26,1.3,0.1,0.930,13-05-2019 12:16
4,6,Goodluck Square_Cafe_23,19.896,82,78,6,0,26,23,21,...,111,47,307,291,40,26,2.6,0.1,0.932,13-05-2019 12:16

Printing tail of the dataset

In [4]:
df.tail()

,Unnamed: 0,NAME,HUMIDITY,NO2_MAX,NO2_MIN,OZONE_MAX,OZONE_MIN,PM10_MAX,PM10_MIN,PM2_MAX,...,CO_MAX,CO_MIN,CO2_MAX,CO2_MIN,TEMPRATURE_MAX,TEMPRATURE_MIN,UV_MAX,UV_MIN,AIR_PRESSURE,LASTUPDATEDATETIME
83566,103201,Hadapsar_Gadital_01,73.903,0,0,71,59,5,4,3,...,119,36,204,142,27,24,0.1,0.1,0.928,06-09-2019 08:01
83567,103202,Dr Baba Saheb Ambedkar Sethu Junction_60,83.984,37,34,17,10,20,15,8,...,78,15,372,334,28,24,0.1,0.1,0.930,06-09-2019 08:01
83568,103203,Lullanagar_Square_14,74.412,40,36,50,27,4,3,3,...,43,8,0,0,27,23,0.6,0.1,0.924,06-09-2019 08:01
83569,103204,Karve Statue Square_5,75.912,66,65,18,15,11,9,5,...,112,33,442,335,27,24,0.0,0.0,0.928,06-09-2019 08:01
83570,103205,Pune Railway Station_28,72.648,162,154,0,0,7,6,3,...,46,17,26,0,28,24,0.9,0.2,0.930,06-09-2019 08:01

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83571 entries, 0 to 83570
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          83571 non-null  int64
 1   NAME                83571 non-null  object
 2   HUMIDITY            83571 non-null  float64
 3   NO2_MAX             83571 non-null  int64
 4   NO2_MIN             83571 non-null  int64
 5   OZONE_MAX           83571 non-null  int64
 6   OZONE_MIN           83571 non-null  int64
 7   PM10_MAX            83571 non-null  int64
 8   PM10_MIN            83571 non-null  int64
 9   PM2_MAX             83571 non-null  int64
 10  PM2_MIN             83571 non-null  int64
 11  SO2_MAX             83571 non-null  int64
 12  SO2_MIN             83571 non-null  int64
 13  CO_MAX              83571 non-null  int64
 14  CO_MIN              83571 non-null  int64
 15  CO2_MAX             83571 non-null  int64
 16  CO2_MIN             83571 non-null  int64
 17  TEMPRATURE_MAX      83571 non-null  int64
 18  TEMPRATURE_MIN      83571 non-null  int64
 19  UV_MAX              83571 non-null  float64
 20  UV_MIN              83571 non-null  float64
 21  AIR_PRESSURE        83571 non-null  float64
 22  LASTUPDATEDATETIME  83571 non-null  object
dtypes: float64(4), int64(17), object(2)
memory usage: 14.7+ MB

In [6]:
df.describe()

,Unnamed: 0,HUMIDITY,NO2_MAX,NO2_MIN,OZONE_MAX,OZONE_MIN,PM10_MAX,PM10_MIN,PM2_MAX,PM2_MIN,...,SO2_MIN,CO_MAX,CO_MIN,CO2_MAX,CO2_MIN,TEMPRATURE_MAX,TEMPRATURE_MIN,UV_MAX,UV_MIN,AIR_PRESSURE
count,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,...,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000,83571.000000
mean,52099.427768,62.843741,72.999844,63.206459,16.502794,4.112096,19.629417,15.044573,15.426332,12.029424,...,3.124517,96.511421,46.502363,230.681827,145.947984,33.873545,24.839693,1.070743,0.086497,0.930591
std,31306.048385,22.060077,38.570837,34.417967,27.101078,17.298718,12.334471,10.872087,9.096054,8.244977,...,7.109929,32.185542,27.934026,238.856725,178.061997,5.300314,1.932415,1.478305,0.098350,0.022739
min,1.000000,10.166000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,17.000000,8.000000,0.000000,0.000000,23.000000,20.000000,0.000000,0.000000,0.763000
25%,23398.000000,47.104500,46.000000,37.000000,0.000000,0.000000,9.000000,6.000000,8.000000,5.000000,...,0.000000,75.000000,21.000000,29.000000,0.000000,29.000000,24.000000,0.000000,0.000000,0.928000
50%,52186.000000,68.259000,78.000000,66.000000,7.000000,0.000000,18.000000,13.000000,15.000000,11.000000,...,2.000000,105.000000,44.000000,176.000000,29.000000,34.000000,24.000000,0.400000,0.100000,0.930000
75%,80659.500000,81.125000,97.000000,88.000000,24.000000,0.000000,30.000000,23.000000,23.000000,18.000000,...,4.000000,120.000000,65.000000,432.000000,307.000000,39.000000,26.000000,1.600000,0.100000,0.933000
max,103205.000000,97.359000,316.000000,315.000000,335.000000,335.000000,54.000000,45.000000,38.000000,34.000000,...,152.000000,163.000000,129.000000,1338.000000,919.000000,46.000000,44.000000,6.600000,1.300000,1.349000

Printing   
######    - Total number of columns  
######    - Type of each column (categorical or numerical)  
######    - Shape of the dataset

In [7]:
total_columns = len(df.columns)
print("Total number of columns in the dataset:", total_columns)


column_types = df.dtypes
categorical_columns = column_types[column_types == 'object'].index
numerical_columns = column_types[column_types != 'object'].index

print("\nColumn types:")
print("Categorical columns:", categorical_columns)
print("Numerical columns:", numerical_columns)

dataset_shape = df.shape
print("\nShape of the dataset (rows, columns):", dataset_shape)

Total number of columns in the dataset: 23

Column types:
Categorical columns: Index(['NAME', 'LASTUPDATEDATETIME'], dtype='object')
Numerical columns: Index(['Unnamed: 0', 'HUMIDITY', 'NO2_MAX', 'NO2_MIN', 'OZONE_MAX',
       'OZONE_MIN', 'PM10_MAX', 'PM10_MIN', 'PM2_MAX', 'PM2_MIN', 'SO2_MAX',
       'SO2_MIN', 'CO_MAX', 'CO_MIN', 'CO2_MAX', 'CO2_MIN', 'TEMPRATURE_MAX',
       'TEMPRATURE_MIN', 'UV_MAX', 'UV_MIN', 'AIR_PRESSURE'],
      dtype='object')

Shape of the dataset (rows, columns): (83571, 23)

Taking mean value of columns NO2_MAX and NO2_MIN

In [8]:
df['NO2_mean'] = np.mean(df[['NO2_MAX', 'NO2_MIN']], axis=1)

Printing column NO2_MAX NO2_MIN NO2_mean

In [9]:
print(df[['NO2_MAX', 'NO2_MIN', 'NO2_mean']])

       NO2_MAX  NO2_MIN  NO2_mean
0           59       54      56.5
1           82       77      79.5
2           74       63      68.5
3          110      105     107.5
4           82       78      80.0
...        ...      ...       ...
83566        0        0       0.0
83567       37       34      35.5
83568       40       36      38.0
83569       66       65      65.5
83570      162      154     158.0

[83571 rows x 3 columns]

In [10]:
print(df)

       Unnamed: 0                                      NAME  HUMIDITY  \
0               1                           BopadiSquare_65    19.995
1               2                     Karve Statue Square_5    20.730
2               3                      Lullanagar_Square_14    17.387
3               4                       Hadapsar_Gadital_01    18.725
4               6                   Goodluck Square_Cafe_23    19.896
...           ...                                       ...       ...
83566      103201                       Hadapsar_Gadital_01    73.903
83567      103202  Dr Baba Saheb Ambedkar Sethu Junction_60    83.984
83568      103203                      Lullanagar_Square_14    74.412
83569      103204                     Karve Statue Square_5    75.912
83570      103205                   Pune Railway Station_28    72.648

       NO2_MAX  NO2_MIN  OZONE_MAX  OZONE_MIN  PM10_MAX  PM10_MIN  PM2_MAX  \
0           59       54         15          0        22        19       18
1           82       77         18          0        23        19       19
2           74       63         25          0        25        21       20
3          110      105          5          0        26        21       21
4           82       78          6          0        26        23       21
...        ...      ...        ...        ...       ...       ...      ...
83566        0        0         71         59         5         4        3
83567       37       34         17         10        20        15        8
83568       40       36         50         27         4         3        3
83569       66       65         18         15        11         9        5
83570      162      154          0          0         7         6        3

       ...  CO_MIN  CO2_MAX  CO2_MIN  TEMPRATURE_MAX  TEMPRATURE_MIN  UV_MAX  \
0      ...     115      448      401              41              24     5.3
1      ...      69      441      374              39              25     0.8
2      ...      55       33        0              40              24     0.5
3      ...      95      482      427              38              26     1.3
4      ...      47      307      291              40              26     2.6
...    ...     ...      ...      ...             ...             ...     ...
83566  ...      36      204      142              27              24     0.1
83567  ...      15      372      334              28              24     0.1
83568  ...       8        0        0              27              23     0.6
83569  ...      33      442      335              27              24     0.0
83570  ...      17       26        0              28              24     0.9

       UV_MIN  AIR_PRESSURE  LASTUPDATEDATETIME  NO2_mean
0         0.2         0.933    13-05-2019 12:16      56.5
1         0.1         0.930    13-05-2019 12:16      79.5
2         0.2         0.926    13-05-2019 12:16      68.5
3         0.1         0.930    13-05-2019 12:16     107.5
4         0.1         0.932    13-05-2019 12:16      80.0
...       ...           ...                 ...       ...
83566     0.1         0.928    06-09-2019 08:01       0.0
83567     0.1         0.930    06-09-2019 08:01      35.5
83568     0.1         0.924    06-09-2019 08:01      38.0
83569     0.0         0.928    06-09-2019 08:01      65.5
83570     0.2         0.930    06-09-2019 08:01     158.0

[83571 rows x 24 columns]

Removing 'NO2_MAX' and 'NO2_MIN' columns

In [11]:
df.drop(columns=['NO2_MAX', 'NO2_MIN'], inplace=True)

In [12]:
print(df)

       Unnamed: 0                                      NAME  HUMIDITY  \
0               1                           BopadiSquare_65    19.995
1               2                     Karve Statue Square_5    20.730
2               3                      Lullanagar_Square_14    17.387
3               4                       Hadapsar_Gadital_01    18.725
4               6                   Goodluck Square_Cafe_23    19.896
...           ...                                       ...       ...
83566      103201                       Hadapsar_Gadital_01    73.903
83567      103202  Dr Baba Saheb Ambedkar Sethu Junction_60    83.984
83568      103203                      Lullanagar_Square_14    74.412
83569      103204                     Karve Statue Square_5    75.912
83570      103205                   Pune Railway Station_28    72.648

       OZONE_MAX  OZONE_MIN  PM10_MAX  PM10_MIN  PM2_MAX  PM2_MIN  SO2_MAX  \
0             15          0        22        19       18       16        5
1             18          0        23        19       19       16        4
2             25          0        25        21       20       18        3
3              5          0        26        21       21       18        6
4              6          0        26        23       21       19        4
...          ...        ...       ...       ...      ...      ...      ...
83566         71         59         5         4        3        3        4
83567         17         10        20        15        8        7        6
83568         50         27         4         3        3        2        0
83569         18         15        11         9        5        4        9
83570          0          0         7         6        3        2        3

       ...  CO_MIN  CO2_MAX  CO2_MIN  TEMPRATURE_MAX  TEMPRATURE_MIN  UV_MAX  \
0      ...     115      448      401              41              24     5.3
1      ...      69      441      374              39              25     0.8
2      ...      55       33        0              40              24     0.5
3      ...      95      482      427              38              26     1.3
4      ...      47      307      291              40              26     2.6
...    ...     ...      ...      ...             ...             ...     ...
83566  ...      36      204      142              27              24     0.1
83567  ...      15      372      334              28              24     0.1
83568  ...       8        0        0              27              23     0.6
83569  ...      33      442      335              27              24     0.0
83570  ...      17       26        0              28              24     0.9

       UV_MIN  AIR_PRESSURE  LASTUPDATEDATETIME  NO2_mean
0         0.2         0.933    13-05-2019 12:16      56.5
1         0.1         0.930    13-05-2019 12:16      79.5
2         0.2         0.926    13-05-2019 12:16      68.5
3         0.1         0.930    13-05-2019 12:16     107.5
4         0.1         0.932    13-05-2019 12:16      80.0
...       ...           ...                 ...       ...
83566     0.1         0.928    06-09-2019 08:01       0.0
83567     0.1         0.930    06-09-2019 08:01      35.5
83568     0.1         0.924    06-09-2019 08:01      38.0
83569     0.0         0.928    06-09-2019 08:01      65.5
83570     0.2         0.930    06-09-2019 08:01     158.0

[83571 rows x 22 columns]

Removing not necessary columns

In [13]:
df.drop(columns=['OZONE_MAX', 'OZONE_MIN'])

,Unnamed: 0,NAME,HUMIDITY,PM10_MAX,PM10_MIN,PM2_MAX,PM2_MIN,SO2_MAX,SO2_MIN,CO_MAX,CO_MIN,CO2_MAX,CO2_MIN,TEMPRATURE_MAX,TEMPRATURE_MIN,UV_MAX,UV_MIN,AIR_PRESSURE,LASTUPDATEDATETIME,NO2_mean
0,1,BopadiSquare_65,19.995,22,19,18,16,5,4,154,115,448,401,41,24,5.3,0.2,0.933,13-05-2019 12:16,56.5
1,2,Karve Statue Square_5,20.730,23,19,19,16,4,3,124,69,441,374,39,25,0.8,0.1,0.930,13-05-2019 12:16,79.5
2,3,Lullanagar_Square_14,17.387,25,21,20,18,3,3,103,55,33,0,40,24,0.5,0.2,0.926,13-05-2019 12:16,68.5
3,4,Hadapsar_Gadital_01,18.725,26,21,21,18,6,5,128,95,482,427,38,26,1.3,0.1,0.930,13-05-2019 12:16,107.5
4,6,Goodluck Square_Cafe_23,19.896,26,23,21,19,4,3,111,47,307,291,40,26,2.6,0.1,0.932,13-05-2019 12:16,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83566,103201,Hadapsar_Gadital_01,73.903,5,4,3,3,4,2,119,36,204,142,27,24,0.1,0.1,0.928,06-09-2019 08:01,0.0
83567,103202,Dr Baba Saheb Ambedkar Sethu Junction_60,83.984,20,15,8,7,6,6,78,15,372,334,28,24,0.1,0.1,0.930,06-09-2019 08:01,35.5
83568,103203,Lullanagar_Square_14,74.412,4,3,3,2,0,0,43,8,0,0,27,23,0.6,0.1,0.924,06-09-2019 08:01,38.0
83569,103204,Karve Statue Square_5,75.912,11,9,5,4,9,9,112,33,442,335,27,24,0.0,0.0,0.928,06-09-2019 08:01,65.5
83570,103205,Pune Railway Station_28,72.648,7,6,3,2,3,3,46,17,26,0,28,24,0.9,0.2,0.930,06-09-2019 08:01,158.0

Taking mean value of columns PM10_MAX and PM10_MIN

In [14]:
df['PM10_mean'] = np.mean(df[['PM10_MAX', 'PM10_MIN']], axis=1)

Taking mean value of columns PM2_MAX and PM2_MIN

In [15]:
df['PM2_mean'] = np.mean(df[['PM2_MAX', 'PM2_MIN']], axis=1)

Taking mean value of columns SO2_MAX and SO2_MIN

In [16]:
df['SO2_mean'] = np.mean(df[['SO2_MAX', 'SO2_MIN']], axis=1)

In [17]:
print(df)

       Unnamed: 0                                      NAME  HUMIDITY  \
0               1                           BopadiSquare_65    19.995
1               2                     Karve Statue Square_5    20.730
2               3                      Lullanagar_Square_14    17.387
3               4                       Hadapsar_Gadital_01    18.725
4               6                   Goodluck Square_Cafe_23    19.896
...           ...                                       ...       ...
83566      103201                       Hadapsar_Gadital_01    73.903
83567      103202  Dr Baba Saheb Ambedkar Sethu Junction_60    83.984
83568      103203                      Lullanagar_Square_14    74.412
83569      103204                     Karve Statue Square_5    75.912
83570      103205                   Pune Railway Station_28    72.648

       OZONE_MAX  OZONE_MIN  PM10_MAX  PM10_MIN  PM2_MAX  PM2_MIN  SO2_MAX  \
0             15          0        22        19       18       16        5
1             18          0        23        19       19       16        4
2             25          0        25        21       20       18        3
3              5          0        26        21       21       18        6
4              6          0        26        23       21       19        4
...          ...        ...       ...       ...      ...      ...      ...
83566         71         59         5         4        3        3        4
83567         17         10        20        15        8        7        6
83568         50         27         4         3        3        2        0
83569         18         15        11         9        5        4        9
83570          0          0         7         6        3        2        3

       ...  TEMPRATURE_MAX  TEMPRATURE_MIN  UV_MAX  UV_MIN  AIR_PRESSURE  \
0      ...              41              24     5.3     0.2         0.933
1      ...              39              25     0.8     0.1         0.930
2      ...              40              24     0.5     0.2         0.926
3      ...              38              26     1.3     0.1         0.930
4      ...              40              26     2.6     0.1         0.932
...    ...             ...             ...     ...     ...           ...
83566  ...              27              24     0.1     0.1         0.928
83567  ...              28              24     0.1     0.1         0.930
83568  ...              27              23     0.6     0.1         0.924
83569  ...              27              24     0.0     0.0         0.928
83570  ...              28              24     0.9     0.2         0.930

       LASTUPDATEDATETIME  NO2_mean  PM10_mean  PM2_mean  SO2_mean
0        13-05-2019 12:16      56.5       20.5      17.0       4.5
1        13-05-2019 12:16      79.5       21.0      17.5       3.5
2        13-05-2019 12:16      68.5       23.0      19.0       3.0
3        13-05-2019 12:16     107.5       23.5      19.5       5.5
4        13-05-2019 12:16      80.0       24.5      20.0       3.5
...                   ...       ...        ...       ...       ...
83566    06-09-2019 08:01       0.0        4.5       3.0       3.0
83567    06-09-2019 08:01      35.5       17.5       7.5       6.0
83568    06-09-2019 08:01      38.0        3.5       2.5       0.0
83569    06-09-2019 08:01      65.5       10.0       4.5       9.0
83570    06-09-2019 08:01     158.0        6.5       2.5       3.0

[83571 rows x 25 columns]

Removing this columns as I have taken their means.

In [18]:
df= df.drop(columns=['PM10_MIN', 'PM10_MAX', 'PM2_MAX', 'PM2_MIN', 'SO2_MAX', 'SO2_MIN','OZONE_MAX', 'OZONE_MIN'])

In [19]:
df

,Unnamed: 0,NAME,HUMIDITY,CO_MAX,CO_MIN,CO2_MAX,CO2_MIN,TEMPRATURE_MAX,TEMPRATURE_MIN,UV_MAX,UV_MIN,AIR_PRESSURE,LASTUPDATEDATETIME,NO2_mean,PM10_mean,PM2_mean,SO2_mean
0,1,BopadiSquare_65,19.995,154,115,448,401,41,24,5.3,0.2,0.933,13-05-2019 12:16,56.5,20.5,17.0,4.5
1,2,Karve Statue Square_5,20.730,124,69,441,374,39,25,0.8,0.1,0.930,13-05-2019 12:16,79.5,21.0,17.5,3.5
2,3,Lullanagar_Square_14,17.387,103,55,33,0,40,24,0.5,0.2,0.926,13-05-2019 12:16,68.5,23.0,19.0,3.0
3,4,Hadapsar_Gadital_01,18.725,128,95,482,427,38,26,1.3,0.1,0.930,13-05-2019 12:16,107.5,23.5,19.5,5.5
4,6,Goodluck Square_Cafe_23,19.896,111,47,307,291,40,26,2.6,0.1,0.932,13-05-2019 12:16,80.0,24.5,20.0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83566,103201,Hadapsar_Gadital_01,73.903,119,36,204,142,27,24,0.1,0.1,0.928,06-09-2019 08:01,0.0,4.5,3.0,3.0
83567,103202,Dr Baba Saheb Ambedkar Sethu Junction_60,83.984,78,15,372,334,28,24,0.1,0.1,0.930,06-09-2019 08:01,35.5,17.5,7.5,6.0
83568,103203,Lullanagar_Square_14,74.412,43,8,0,0,27,23,0.6,0.1,0.924,06-09-2019 08:01,38.0,3.5,2.5,0.0
83569,103204,Karve Statue Square_5,75.912,112,33,442,335,27,24,0.0,0.0,0.928,06-09-2019 08:01,65.5,10.0,4.5,9.0
83570,103205,Pune Railway Station_28,72.648,46,17,26,0,28,24,0.9,0.2,0.930,06-09-2019 08:01,158.0,6.5,2.5,3.0

In [20]:
print(df)

       Unnamed: 0                                      NAME  HUMIDITY  CO_MAX  \
0               1                           BopadiSquare_65    19.995     154
1               2                     Karve Statue Square_5    20.730     124
2               3                      Lullanagar_Square_14    17.387     103
3               4                       Hadapsar_Gadital_01    18.725     128
4               6                   Goodluck Square_Cafe_23    19.896     111
...           ...                                       ...       ...     ...
83566      103201                       Hadapsar_Gadital_01    73.903     119
83567      103202  Dr Baba Saheb Ambedkar Sethu Junction_60    83.984      78
83568      103203                      Lullanagar_Square_14    74.412      43
83569      103204                     Karve Statue Square_5    75.912     112
83570      103205                   Pune Railway Station_28    72.648      46

       CO_MIN  CO2_MAX  CO2_MIN  TEMPRATURE_MAX  TEMPRATURE_MIN  UV_MAX  \
0         115      448      401              41              24     5.3
1          69      441      374              39              25     0.8
2          55       33        0              40              24     0.5
3          95      482      427              38              26     1.3
4          47      307      291              40              26     2.6
...       ...      ...      ...             ...             ...     ...
83566      36      204      142              27              24     0.1
83567      15      372      334              28              24     0.1
83568       8        0        0              27              23     0.6
83569      33      442      335              27              24     0.0
83570      17       26        0              28              24     0.9

       UV_MIN  AIR_PRESSURE LASTUPDATEDATETIME  NO2_mean  PM10_mean  PM2_mean  \
0         0.2         0.933   13-05-2019 12:16      56.5       20.5      17.0
1         0.1         0.930   13-05-2019 12:16      79.5       21.0      17.5
2         0.2         0.926   13-05-2019 12:16      68.5       23.0      19.0
3         0.1         0.930   13-05-2019 12:16     107.5       23.5      19.5
4         0.1         0.932   13-05-2019 12:16      80.0       24.5      20.0
...       ...           ...                ...       ...        ...       ...
83566     0.1         0.928   06-09-2019 08:01       0.0        4.5       3.0
83567     0.1         0.930   06-09-2019 08:01      35.5       17.5       7.5
83568     0.1         0.924   06-09-2019 08:01      38.0        3.5       2.5
83569     0.0         0.928   06-09-2019 08:01      65.5       10.0       4.5
83570     0.2         0.930   06-09-2019 08:01     158.0        6.5       2.5

       SO2_mean
0           4.5
1           3.5
2           3.0
3           5.5
4           3.5
...         ...
83566       3.0
83567       6.0
83568       0.0
83569       9.0
83570       3.0

[83571 rows x 17 columns]

Taking mean value of columns CO_MAX and CO_MIN

In [21]:
df['CO_mean'] = np.mean(df[['CO_MAX', 'CO_MIN']], axis=1)

Taking mean value of columns CO2_MAX and CO2_MIN

In [22]:
df['CO2_mean'] = np.mean(df[['CO2_MAX', 'CO2_MIN']], axis=1)

Removing this columns as I have taken their means.

In [23]:
df= df.drop(columns=['CO_MIN', 'CO_MAX', 'CO2_MAX', 'CO2_MIN'])

In [24]:
df

,Unnamed: 0,NAME,HUMIDITY,TEMPRATURE_MAX,TEMPRATURE_MIN,UV_MAX,UV_MIN,AIR_PRESSURE,LASTUPDATEDATETIME,NO2_mean,PM10_mean,PM2_mean,SO2_mean,CO_mean,CO2_mean
0,1,BopadiSquare_65,19.995,41,24,5.3,0.2,0.933,13-05-2019 12:16,56.5,20.5,17.0,4.5,134.5,424.5
1,2,Karve Statue Square_5,20.730,39,25,0.8,0.1,0.930,13-05-2019 12:16,79.5,21.0,17.5,3.5,96.5,407.5
2,3,Lullanagar_Square_14,17.387,40,24,0.5,0.2,0.926,13-05-2019 12:16,68.5,23.0,19.0,3.0,79.0,16.5
3,4,Hadapsar_Gadital_01,18.725,38,26,1.3,0.1,0.930,13-05-2019 12:16,107.5,23.5,19.5,5.5,111.5,454.5
4,6,Goodluck Square_Cafe_23,19.896,40,26,2.6,0.1,0.932,13-05-2019 12:16,80.0,24.5,20.0,3.5,79.0,299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83566,103201,Hadapsar_Gadital_01,73.903,27,24,0.1,0.1,0.928,06-09-2019 08:01,0.0,4.5,3.0,3.0,77.5,173.0
83567,103202,Dr Baba Saheb Ambedkar Sethu Junction_60,83.984,28,24,0.1,0.1,0.930,06-09-2019 08:01,35.5,17.5,7.5,6.0,46.5,353.0
83568,103203,Lullanagar_Square_14,74.412,27,23,0.6,0.1,0.924,06-09-2019 08:01,38.0,3.5,2.5,0.0,25.5,0.0
83569,103204,Karve Statue Square_5,75.912,27,24,0.0,0.0,0.928,06-09-2019 08:01,65.5,10.0,4.5,9.0,72.5,388.5
83570,103205,Pune Railway Station_28,72.648,28,24,0.9,0.2,0.930,06-09-2019 08:01,158.0,6.5,2.5,3.0,31.5,13.0

Spliting 'LASTUPDATEDATETIME' into separate date and time columns

In [25]:
df[['Date', 'Time']] = df['LASTUPDATEDATETIME'].str.split(' ', expand=True)

In [26]:
print(df)

       Unnamed: 0                                      NAME  HUMIDITY  \
0               1                           BopadiSquare_65    19.995
1               2                     Karve Statue Square_5    20.730
2               3                      Lullanagar_Square_14    17.387
3               4                       Hadapsar_Gadital_01    18.725
4               6                   Goodluck Square_Cafe_23    19.896
...           ...                                       ...       ...
83566      103201                       Hadapsar_Gadital_01    73.903
83567      103202  Dr Baba Saheb Ambedkar Sethu Junction_60    83.984
83568      103203                      Lullanagar_Square_14    74.412
83569      103204                     Karve Statue Square_5    75.912
83570      103205                   Pune Railway Station_28    72.648

       TEMPRATURE_MAX  TEMPRATURE_MIN  UV_MAX  UV_MIN  AIR_PRESSURE  \
0                  41              24     5.3     0.2         0.933
1                  39              25     0.8     0.1         0.930
2                  40              24     0.5     0.2         0.926
3                  38              26     1.3     0.1         0.930
4                  40              26     2.6     0.1         0.932
...               ...             ...     ...     ...           ...
83566              27              24     0.1     0.1         0.928
83567              28              24     0.1     0.1         0.930
83568              27              23     0.6     0.1         0.924
83569              27              24     0.0     0.0         0.928
83570              28              24     0.9     0.2         0.930

      LASTUPDATEDATETIME  NO2_mean  PM10_mean  PM2_mean  SO2_mean  CO_mean  \
0       13-05-2019 12:16      56.5       20.5      17.0       4.5    134.5
1       13-05-2019 12:16      79.5       21.0      17.5       3.5     96.5
2       13-05-2019 12:16      68.5       23.0      19.0       3.0     79.0
3       13-05-2019 12:16     107.5       23.5      19.5       5.5    111.5
4       13-05-2019 12:16      80.0       24.5      20.0       3.5     79.0
...                  ...       ...        ...       ...       ...      ...
83566   06-09-2019 08:01       0.0        4.5       3.0       3.0     77.5
83567   06-09-2019 08:01      35.5       17.5       7.5       6.0     46.5
83568   06-09-2019 08:01      38.0        3.5       2.5       0.0     25.5
83569   06-09-2019 08:01      65.5       10.0       4.5       9.0     72.5
83570   06-09-2019 08:01     158.0        6.5       2.5       3.0     31.5

       CO2_mean        Date   Time
0         424.5  13-05-2019  12:16
1         407.5  13-05-2019  12:16
2          16.5  13-05-2019  12:16
3         454.5  13-05-2019  12:16
4         299.0  13-05-2019  12:16
...         ...         ...    ...
83566     173.0  06-09-2019  08:01
83567     353.0  06-09-2019  08:01
83568       0.0  06-09-2019  08:01
83569     388.5  06-09-2019  08:01
83570      13.0  06-09-2019  08:01

[83571 rows x 17 columns]

Removing the LASTUPDATEDATETIME column.

In [27]:
df= df.drop(columns=['LASTUPDATEDATETIME'])

In [28]:
df

,Unnamed: 0,NAME,HUMIDITY,TEMPRATURE_MAX,TEMPRATURE_MIN,UV_MAX,UV_MIN,AIR_PRESSURE,NO2_mean,PM10_mean,PM2_mean,SO2_mean,CO_mean,CO2_mean,Date,Time
0,1,BopadiSquare_65,19.995,41,24,5.3,0.2,0.933,56.5,20.5,17.0,4.5,134.5,424.5,13-05-2019,12:16
1,2,Karve Statue Square_5,20.730,39,25,0.8,0.1,0.930,79.5,21.0,17.5,3.5,96.5,407.5,13-05-2019,12:16
2,3,Lullanagar_Square_14,17.387,40,24,0.5,0.2,0.926,68.5,23.0,19.0,3.0,79.0,16.5,13-05-2019,12:16
3,4,Hadapsar_Gadital_01,18.725,38,26,1.3,0.1,0.930,107.5,23.5,19.5,5.5,111.5,454.5,13-05-2019,12:16
4,6,Goodluck Square_Cafe_23,19.896,40,26,2.6,0.1,0.932,80.0,24.5,20.0,3.5,79.0,299.0,13-05-2019,12:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83566,103201,Hadapsar_Gadital_01,73.903,27,24,0.1,0.1,0.928,0.0,4.5,3.0,3.0,77.5,173.0,06-09-2019,08:01
83567,103202,Dr Baba Saheb Ambedkar Sethu Junction_60,83.984,28,24,0.1,0.1,0.930,35.5,17.5,7.5,6.0,46.5,353.0,06-09-2019,08:01
83568,103203,Lullanagar_Square_14,74.412,27,23,0.6,0.1,0.924,38.0,3.5,2.5,0.0,25.5,0.0,06-09-2019,08:01
83569,103204,Karve Statue Square_5,75.912,27,24,0.0,0.0,0.928,65.5,10.0,4.5,9.0,72.5,388.5,06-09-2019,08:01
83570,103205,Pune Railway Station_28,72.648,28,24,0.9,0.2,0.930,158.0,6.5,2.5,3.0,31.5,13.0,06-09-2019,08:01

Get unique values from the 'NAME' column

In [29]:

unique_values = df['NAME'].unique()

Printing the unique values.

In [30]:
print(unique_values)

['BopadiSquare_65' 'Karve Statue Square_5' 'Lullanagar_Square_14'
 'Hadapsar_Gadital_01' 'Goodluck Square_Cafe_23'
 'Chitale Bandhu Corner_41' 'Pune Railway Station_28'
 'Rajashri_Shahu_Bus_stand_19' 'PMPML_Bus_Depot_Deccan_15'
 'Dr Baba Saheb Ambedkar Sethu Junction_60']

Encoding unique values in column 'NAME' with number (Converting categorical value to numerical).

In [31]:
df['NAME'] = df['NAME'].replace({'BopadiSquare_65': 1,'Karve Statue Square_5': 2,'Lullanagar_Square_14': 3, 'Hadapsar_Gadital_01': 4, 'Goodluck Square_Cafe_23': 5, 'Chitale Bandhu Corner_41': 6, 'Pune Railway Station_28':7, 'Rajashri_Shahu_Bus_stand_19': 8,'PMPML_Bus_Depot_Deccan_15':9,  'Dr Baba Saheb Ambedkar Sethu Junction_60':10})

In [32]:
df

,Unnamed: 0,NAME,HUMIDITY,TEMPRATURE_MAX,TEMPRATURE_MIN,UV_MAX,UV_MIN,AIR_PRESSURE,NO2_mean,PM10_mean,PM2_mean,SO2_mean,CO_mean,CO2_mean,Date,Time
0,1,1,19.995,41,24,5.3,0.2,0.933,56.5,20.5,17.0,4.5,134.5,424.5,13-05-2019,12:16
1,2,2,20.730,39,25,0.8,0.1,0.930,79.5,21.0,17.5,3.5,96.5,407.5,13-05-2019,12:16
2,3,3,17.387,40,24,0.5,0.2,0.926,68.5,23.0,19.0,3.0,79.0,16.5,13-05-2019,12:16
3,4,4,18.725,38,26,1.3,0.1,0.930,107.5,23.5,19.5,5.5,111.5,454.5,13-05-2019,12:16
4,6,5,19.896,40,26,2.6,0.1,0.932,80.0,24.5,20.0,3.5,79.0,299.0,13-05-2019,12:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83566,103201,4,73.903,27,24,0.1,0.1,0.928,0.0,4.5,3.0,3.0,77.5,173.0,06-09-2019,08:01
83567,103202,10,83.984,28,24,0.1,0.1,0.930,35.5,17.5,7.5,6.0,46.5,353.0,06-09-2019,08:01
83568,103203,3,74.412,27,23,0.6,0.1,0.924,38.0,3.5,2.5,0.0,25.5,0.0,06-09-2019,08:01
83569,103204,2,75.912,27,24,0.0,0.0,0.928,65.5,10.0,4.5,9.0,72.5,388.5,06-09-2019,08:01
83570,103205,7,72.648,28,24,0.9,0.2,0.930,158.0,6.5,2.5,3.0,31.5,13.0,06-09-2019,08:01

Saving all the above preprocessing work to 'preprocessed_data_2.csv'

In [33]:
df.to_csv('preprocessed_data_2.csv', index=False)

Finding the correlation of the columns 'HUMIDITY', 'TEMPRATURE_MAX', 'UV_MAX' and 'AIR_PRESSURE'

In [34]:
correlation = df[['HUMIDITY', 'TEMPRATURE_MAX', 'UV_MAX', 'AIR_PRESSURE']].corr()

In [35]:
correlation

                HUMIDITY  TEMPRATURE_MAX    UV_MAX  AIR_PRESSURE
HUMIDITY        1.000000       -0.768882 -0.488870     -0.047833
TEMPRATURE_MAX -0.768882        1.000000  0.304283      0.059287
UV_MAX         -0.488870        0.304283  1.000000      0.045911
AIR_PRESSURE   -0.047833        0.059287  0.045911      1.000000

Finding the correlation of the columns 'NO2_mean', 'PM10_mean', 'PM2_mean', 'SO2_mean','CO_mean' and 'CO2_mean'

In [36]:
correlation1 = df[['NO2_mean', 'PM10_mean', 'PM2_mean', 'SO2_mean','CO_mean', 'CO2_mean']].corr()

In [37]:
correlation1

           NO2_mean  PM10_mean  PM2_mean  SO2_mean   CO_mean  CO2_mean
NO2_mean   1.000000   0.235287  0.236753  0.313384  0.271661 -0.352165
PM10_mean  0.235287   1.000000  0.962817 -0.003056  0.422507  0.021409
PM2_mean   0.236753   0.962817  1.000000 -0.007879  0.485129 -0.012723
SO2_mean   0.313384  -0.003056 -0.007879  1.000000  0.115911  0.025939
CO_mean    0.271661   0.422507  0.485129  0.115911  1.000000  0.250428
CO2_mean  -0.352165   0.021409 -0.012723  0.025939  0.250428  1.000000